services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: student360_backend
    container_name: student360_backend
    depends_on:
      - db
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    networks:
      - student360_network
    restart: unless-stopped

  db:
    image: postgres:17-alpine
    container_name: student360_db
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - "${DATABASE_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - student360_network
    restart: unless-stopped

volumes:
  postgres_data:
    driver: local

networks:
  student360_network:
    driver: bridge
