services:
  db:
    image: postgres:17-alpine
    container_name: student360_db_local
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - "${DATABASE_PORT}:5432"
    volumes:
      - postgres_data_local:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data_local:
    driver: local
